<div class="mm-logo" >
    <img class="mm-icon-logo" src="../icons/m-icon-logo.png" @click="goToHome()">
    <img class="mm-icon-text" src="../icons/m-icon-text.png" @click="goToHome()">
    <div class="mm-icon-hamburger hamburger-menu" @click="setToogleMobileMenu()" > 
            <div class="hamburger-wrapper">
            <div class="main-item menu" :class="{ 'close' : !isOpen}">
            <span class="line line01"></span>
            <span class="line line02"></span>
            <span class="line line03"></span>
            </div>
            </div>
    </div>
</div>
