<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> MAYORGA ABOGADOS </span> Estudio Jurídico y Económico, creado en 2005, integrado actualmente por
            profesionales especializados (abogados, economistas y contadores), egresados de las mejores universidades de
            Colombia y el Exterior; con éxitos totalmente verificables, en asesoría y asistencia legal corporativa
        </p>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <div class="button">
                <i class="fa fa-map-marker" style="display:inline-block;"></i>
            </div>
            <p>
                <span style="position: relative;top: 4px;">Av. El Dorado, # 68 C 61, Teusaquillo </span>
                Bogotá, Colombia
            </p>
        </div>
        <div>
            <div class="button">
                <i class="fa fa-phone"></i>
            </div>

            <p> (+57) 4322595</p>
        </div>
        <div>
            <div class="button">
                <i class="fa fa-envelope"></i>
            </div>
            <p><a href="#"> info@mayorga.com.co</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <div class="footer-middle-logo">
            <img class="m-logo" src="./../../../assets/images/footer_mm_logo.png">
        </div>
        <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> ¿Quienes Somos?</a> |
            <a href="#"> Nuestro Equipo</a> |
             <br>
            <a href="#"> Planes de Servicio</a> |
            <a href="#"> Noticias y Boletines</a> |
            <a href="#"> Consultas </a>
        </p>
        <p class="name"> Mayorga Abogados &copy; {{ thisYear }}</p>
    </div>
</footer>